.login-container{

height:100vh;

background-image:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

}

.login-card{

background:white;

padding:40px;

border-radius:12px;

width:350px;

box-shadow:0 10px 25px rgba(0,0,0,0.3);

}